/* Natural Annihilation CSS
Done to meet a short deadline so code
is very rough*/

/* Globals */
body {
	background-color: #000000;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
img {
    border: 0;
}
iframe {
    margin-left: 6px;
    padding-bottom: 2px;
}
a:visited, a {
    /*color: #0000FF;*/
    color: #dd0000;
}
/* Background */
#bg { 
    position: fixed; top: 0; left: 0; 
}
.bgwidth { 
    width: 100%; 
}
.bgheight { 
    height: 100%; 
}

/* Main Sections */
#Wrapper {
	width: 1024px;
	margin: 0px auto 0px;
	position: relative;
}
#Logo {
	height: 350px;
    background-color:rgba(170,170,170,0.2);
    /*Transparency fix for logo IE <= 8*/
    <!--[if lte IE 8]>    
        background: transparent;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33AAAAAA,endColorstr=#33AAAAAA)"; /* IE8 */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33AAAAAA,endColorstr=#33AAAAAA);   /* IE6 & 7 */
        zoom: 1
    <![endif]-->
}
#DownloadBox {
	background-color: #FF0000;
	width: 250px;
	height: 100px;
	position: absolute;
	left: 387px;
	top: 330px;
}
#MainBody {
	background-color: #ffffff;
	height: auto;
	margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden; /* for standards compliant browsers */
    width: 100&#37;; /* for IE */

}
#NavSection {
	height: 50px;
	background-color: #ffffff;
}
#Footer {
    height: 50px;
    background-color: #aaaaaa;
}
#Footer p {
    margin: 0;
    padding-top: 15px;
    text-align: center;
    font-weight: bold;
}
/* Nav */
#MainNav {
	list-style: none;
	font-size: 24pt;
	margin: 0;
    padding: 0;
}
#MainNav a {
	display: block;
	text-decoration: none;
    height: 45px;
    width: 129px;
    padding-top: 5px;
    text-align: center;
    color:#ff0000;
}
#MainNav a:hover {
    background-color: #aaaaaa;
    color:#ff0000;
}
#MainNav a:visited {
    color:#ff0000;
}
#MainNav li {
	float: left;
    
}
#MainNav li.empty {
    width: 250px;
}

/* Page Specific */
/* index.html */
.index {
    background-color: #aaaaaa;
    height: auto;
    margin-left: 10px;
    width: 1004px;
    padding-top: 1px;
}
.index p {
    margin-left: 10px;
    margin-right: 10px;
}
.index h4 {
    padding-bottom: 10px;
}
/* story.html */
.story {
    background-color: #aaaaaa;
    height: auto;
    margin-left: 10px;
    width: 1004px;
    padding-top: 10px;
    padding-bottom: 1px;
}
/* gameplay.html */
.gameplay {
    background-color: #aaaaaa;
    height: auto;
    margin-left: 10px;
    width: 1004px;
    padding-top: 10px;
    padding-bottom: 1px;
}
.gameplay img {
    float:right;
    margin-right: 20px;
    margin-left: 10px;
}
/* download.html */
.download {
    background-color: #aaaaaa;
    height: auto;
    margin-left: 10px;
    width: 1004px;
    padding-top: 10px;
    padding-bottom: 1px;
}
/* media.html */
#Media h2,h3,h4,p {
    margin-left: 10px;
}
.mediaSectionWrapper {
    background-color: #aaaaaa;
    height: auto;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 1004px;
    padding-top: 10px;
    padding-bottom: 6px;
}
.mediaSectionWrapper h3,h4 {
    margin:0;
}
#ImageGallery {
    margin-left: 6px;
    margin-right: 6px;
}
#VideoSection {
    padding-bottom: 0px;
}
/* quiz.html */
#QuizWrapper h3 {
    margin-top: 0px;
    margin-left: 10px;
}
#Quiz input {
    vertical-align: middle;
}
#Quiz form {
    margin: 0;
}
#Quiz ol {
   margin: 0 0 10px 10px;
   list-style-type: none;
   padding: 0;
}

#Quiz ol li {
   /*margin: 0 0 20px 0;*/
   display: block;
}
#Quiz img {
    margin-bottom: 10px
}
#QuizWrapper {
    float:left;
    clear: both;
    width: 748px;
    margin-left: 10px;
    background-color: #aaaaaa;
    padding-top: 10px;
}
.submit {
    margin-top: 20px;
    margin-bottom: 20px;
}
#ResultsWrapper {
    width: 246px;
    float: right;
    background-color: #aaaaaa;
    margin-right: 10px;
    padding-bottom: 10px;
}
#ResultsWrapper h3 {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}
#ResultsWrapper span {
    margin-left: 10px;
    font-weight: bold;
    font-size: 24pt;
}
/* guides.html */
.guides {
    background-color: #aaaaaa;
    height: auto;
    margin-left: 10px;
    width: 1004px;
    padding-top: 10px;
    padding-bottom: 1px;
}
.guides img {
    margin-left: 10px;
}
/* Contact Form */
#SupportWrapper {
    width: 497px;
    float: left;
    clear:both;
    background-color: #aaaaaa;
    margin-left: 10px;
    padding-bottom: 10px;
}
#ContactFormWrapper {
    width: 497px;
    float: right;
    background-color: #aaaaaa;
    margin-right: 10px;
    padding-bottom: 10px;
}
#ContactFormWrapper form {
    padding-left: 10px;
}
#ContactFormWrapper h3 {
    padding-left: 10px;
}
.errorMsg,.resultMsg {
    color: red;
    font-weight: bold;
}
/* Story */
.story h3,h4,p {
    margin-left: 10px;
    margin-right: 10px;
}
/* Gameplay */
.gameplay h3,h4,h5,p {
    margin-left: 10px;
}